.panel.panel-default.hidden-xs
  .panel-heading
    strong #{settings.locale.sys_assetbalances}
  table.table.table-bordered.summary-table
    tbody
      each asset in allocations
        tr
          td
            b #{asset.symbol}&nbsp;
            | (
            a.loading(href='/asset/#{asset.asset_guid}',style='word-break: break-all') #{asset.asset_guid}
              if asset.isOwner
                +ownerIcon
            | )
          td #{formatAsNumber(+(asset.allocation_balance), 8)} #{asset.symbol}

