.panel.panel-default
  .panel-heading
    if isAssetActivateTable
      strong #{settings.locale.sys_assetnewtitle}
    else
      strong #{settings.locale.sys_assettitle}
  table.table.table-bordered.summary-table
    tbody
      tr
        td
          b #{settings.locale.sys_assetguid}
        td
          a.loading(href='/asset/#{asset_guid}',style='word-break: break-all') #{asset_guid}
      tr
        td
          b #{settings.locale.sys_assetsymbol}
        td #{symbol}
      tr
        td
          b #{settings.locale.sys_assetcontract}
        td #{contract}
      tr
        td
          b #{settings.locale.sys_assetpublicvalue}
        td #{public_value}
      tr
        td
          if isAssetActivateTable
            b #{settings.locale.sys_assetcreeatoraddress}
          else
            b #{settings.locale.sys_assetowneraddress}
        td
          a(href='/address/#{address}') #{address}
      tr
        td
          b #{settings.locale.rl_balance}
        td #{balance}
      tr
        td
          b #{settings.locale.sys_assettotalsupply}
        td #{total_supply}
      tr
        td
          b #{settings.locale.sys_assetmaxsupply}
        td #{max_supply}
      tr
        td
          b #{settings.locale.sys_assetprecision}
        td #{precision}
      tr
        td
          b #{settings.locale.sys_assetupdateflags}
        td
          +updateFlagsLabel(update_flags)
