.panel.panel-default.hidden-xs
  .panel-heading
    strong #{settings.locale.sys_assetbalances}
  table.table.table-bordered.summary-table
    tbody
      each asset in allocations
        tr
          td
            b #{asset.asset_publicvalue}&nbsp;
            | (
            a.loading(href='/asset/#{asset.asset_guid}',style='word-break: break-all') #{asset.asset_guid}
              if asset.isOwner
                +ownerIcon
            | )
          td #{asset.allocation_balance}
            if asset.balance > 0
              span(title="Unallocated balance", style="cursor:pointer")  (#{asset.balance})